{% extends 'base.html' %}

{% block content %}
<title>Проверка заказов</title>
<div style="padding: 1%">
    {% for o in Orders %}
            <div style="padding-bottom: 1%">
            <a href="{{ o.get_check_url }}" class="list-group-item list-group-item-success d-flex gap-3 py-3" aria-current="true">
                <svg xmlns="http://www.w3.org/2000/svg" width="5%" height="5%" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16" style="padding-left: 1%">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1z"/>
                </svg>
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">{{ o }}</h6>
                        <p class="mb-0 opacity-75">Пользователь: {{ o.user }}</p>
                        <p class="mb-0 opacity-75">Дата создания: {{ o.creation_date }}</p>
                    </div>
                    <small class="opacity-50 text-nowrap" style="padding-right: 1%">
                    <b>
                        {% if o.status %}
                            {{ o.status.name }}
                        {% else %}
                            Ожидает проверки
                        {% endif %}
                    </b>
                    </small>
                </div>
            </a>
            </div>
        {% endfor %}
</div>
{% endblock %}